networks:
  tensor-network:
    external: true

services:
  tensorboard:
    container_name: tensorboard
    image: tensorflow/tensorflow:latest
    volumes: 
      - ./runs:/runs
    command: tensorboard --logdir=/runs --host=0.0.0.0 --port=6006
    expose: 
      - "6006"
    restart: unless-stopped
    networks:
      - tensor-network
  nginx:
    container_name: nginx
    image: nginx:alpine
    ports:
      - 80:80
      - 443:443
    restart: always
    volumes: 
      - ./nginx/conf/:/etc/nginx/conf.d/:ro
      - c:\Users\Jimmy Ding\Documents\tailscale_cert:/etc/tailscale/certs:ro
    networks:
      - tensor-network